.titleText {
    font-size: 8em;
    text-align: center;
  }
  
  .subtitleText {
    font-size: 4em;
    text-align: center;
  }


  .lastYearTitle {
    font-size: 4em;
    text-align: center;
    color: black;
  }

  .modalText {
    margin-top: 10%;
    font-size: larger;
  }
  
  /* Media query for screens with a max-width of 767px (mobile devices) */
  @media (max-width: 767px) {
    .titleText {
      font-size: 3em; /* Adjust font size for mobile devices */
    }
    
    .subtitleText {
      font-size: 1.5em; /* Adjust font size for mobile devices */
    }
  
  }  


/* For mobile screens */
@media only screen and (max-width: 767px) {
  nav.panel.top .sections {
    display: block;
    align-items: center;
  }
  
  nav.panel.top .center {
    text-align: center;
  }
  
  nav.panel.top .right {
    margin-top: 20px;
    text-align: center;
  }
  
  nav.panel.top .right .button {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav.panel.top .sections:not(.compact) .left {
    margin-bottom: 20px;
  }
  
  nav.panel.top .sections.compact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav.panel.top .sections.compact .left {
    display: none;
  }
  
  nav.panel.top .sections.compact .right {
    display: none;
  }
  
  nav.panel.top .menu li {
    display: block;
    margin: 10px 0;
  }
}
